@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --offwhite: #f0f0f0;
    --white: #ffffff;
    --red: #96352c;
    --ltgreen: #14b393;
    --fntwight: #f7f7f7;
    --icncolor: #72787f;
    --ltgray: #e3e3e3;
    --drakgray: #2a373f;
    --logoorange: #ff8908;

  }
* a{
    text-decoration: none;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--white);
    font-family: 'Source Sans Pro', sans-serif;
}  
/* header start */
header{
    width: 100%;
    height: auto;
    background-color: var(--drakgray);
    overflow-x: hidden;
}
.header-top{
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
}
header .header-top h1{
    font-size: 18px;
    font-weight: 600;
    color: var(--fntwight);
}
header .header-top i{
    font-size: 1.2rem;
    color: var(--fntwight);
    padding: 0px 30px 0px 15px;
}
.battle-team-div{
    width: 100%;
    margin: 15px 0;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 45% 10% 45%;
    border-top: .5px solid var(--fntwight);

}
.vs{
    font-size: 18px;
    font-weight: 500;
    color: var(--ltgray);
}

.battle-team-div div:nth-child(1), .battle-team-div div:nth-child(3){
    padding-left: 2%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
} 




.teamimage, .opponent_image{
    width: 70%;
    min-width: 40px;
    max-width: 60px;
    height: 70%;
    min-height: 45px;
    max-height: 60px;
    border-radius: 100%;
    border: 1px solid var(--fntwight);

}

.battle-team-div div h2{
    width: 95%;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: var(--ltgray);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

/* changes  */
.select_team{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: var(--ltgray);
    background-color: transparent;
    outline: none;
    border: none;
    
}

.alert_msg{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: var(--red);
    text-align: center;
}
/* changes  */
.battle-team-div div div:nth-child(2) div:nth-child(2){
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    margin: 5px 0 0 5px;
}
.battle-team-div div div p{
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    color: var(--icncolor);

}
.battle-team-div div div i{
    font-size: 14px;
    margin: 0 5px 0 0;
    color: var(--icncolor);
}


/* select team type start */

.line{
    display: inline-block;
    width: 80%;
    height: 3px;
    background-image: linear-gradient(90deg, var(--drakgray), white, var(--drakgray));
}

.select-team-option{
    width: 100%;
    height: 30%;
    margin: 10px 0px 5px 0px;
    text-align: center;
    position: relative;
}

.select-team-option p.select_head{
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0 10px 0;
    color: var(--ltgray);
}
.select-team-option div:nth-child(2){
    display: inline-block;
    position: absolute;
    top: -5%;
    left: 25%;
    right: 25%;
    width: 50%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    border-radius: 30px;
    background-color: var(--icncolor);
    z-index: 1;
}
.darkbtn{
    background-color: transparent;
    border: none;
    border-radius: 30px;
    color: #000;
    width: 45%;
    height: 70%;
    padding: 7px 0;
    margin: 3px 0px;
    z-index: 111;
    transition: .5s;
}
.toggle_button{
    width: 45%;
    height: 75%;
    border-radius: 30px;
    left: 5%;
    top: 13%;
    position: absolute;
    background-color: var(--offwhite);
    transition: .5s;
    z-index: -1;

}
.choose_friend{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: -3% 0 0 0 ;
    z-index: 111;
}
.lightbtn{
    background-color: transparent;
    border: none;
    border-radius: 30px;
    color: var(--fntwight);
    width: 45%;
    height: 70%;
    padding: 7px 0;
    margin: 5px 0px;
    z-index: 111;
    transition: .5s;
}
#blank{
    background-color: #e3e3e3;
    width: 50%;
    height: 70%;
    border-radius: 30px;
    border: 1px solid var(--fntwight);
}

.select{
    text-decoration: none;
    color: var(--fntwight);
    font-size: 20px;
    margin: 0;
    padding: 5px 0 0 10px;
}

/* select team type end */


/* header end */

/* main start */
main{
    width: 100%;
    
}

/* form start */
form{
    width: 100%;
    padding-top: 20px;
}
form label{
    display: block;
    color: var(--icncolor);
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 5%;
}
form input, form select, form textarea{
    width: 90%;
    margin-left: 5%;
    font-size: 16px;
    margin-bottom: 25px;
    padding:5px 0px;
    border: none;
    color: var(--drakgray);
    border-bottom: 1.5px solid var(--offwhite);
}
form input:focus, form select:focus, form textarea:focus{
    outline: none;
    border-bottom: 1.5px solid var(--drakgray);
}

div.age label{
    display: inline-block;
}
div.age input.age1{
    width: 10%;
}

/* form end */
.updatediv{
    width: 100%;
    margin-top: 20px;
}
.updatediv button{
    width: 100%;
    border: none;
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--ltgreen);
    color: var(--white);
    cursor: pointer;
}

/* main end */
/* area select page start */
/* header start */
.area-header{
    width: 100%;
    height: 8vh;
    background-color: var(--logoorange);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
}
.area-header h1{
    font-size: 20px;
    font-weight: 600;
    color: var(--fntwight);
}
.area-header i{
    font-size: 1.3rem;
    color: var(--fntwight);
    padding: 0px 30px 0px 15px;
}

/* header end */
/* area select main start */

section.area-select-main{
    width: 100%;
    height: 92vh;
    overflow-x: hidden;
}


.area-background-color{
    width: 100%;
}

.area-background-color>div:nth-child(odd){
    background-color: var(--offwhite);
    box-shadow: 0 0px 10px 0px rgba(0,0,0,0.2);
}
.area-content{
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 10% 65% 25%;
    padding: 10px 10px;
    
}
.area-content>i:nth-child(1){
    font-size: 1.8rem;
    color: #000;
    margin: 7px 0 0 0 ;
}
.area-content div:nth-child(2) h2{
    font-size: 16px;
    color: var(--drakgray);
    font-weight: 600;
    margin: 0 0 0 5px;
}

.area-content div:nth-child(2) div:nth-child(2){
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    margin-top: 5px;
}
.area-content div:nth-child(2) div:nth-child(2) p{
    font-size: 16px;
    font-weight: 500;
    color: var(--drakgray);
    margin: 0;
}

.area-content div:nth-child(2) div:nth-child(2) i{
    font-size: 16px;
    color: var(--drakgray);
    margin: 0 5px 0 5px ;
}

.area-content a.area-link{
    font-size: 16px;
    color: var(--ltgreen);
    font-weight: 600;
    margin: 15px 0;
}


/* area select main end */
/* area select page end */

/* Select team for opponent start */

.area-content>button:nth-child(1){
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}
.area-content>button:nth-child(2){
    margin: 0;
    padding: 0;
    text-align: left;
    border: none;
    background-color: transparent;
}
.area-content button:nth-child(2) h2{
    font-size: 16px;
    color: var(--drakgray);
    font-weight: 600;
    margin: 0 0 0 5px;
}

.area-content button:nth-child(2) div:nth-child(2){
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    margin-top: 5px;
}
.area-content button:nth-child(2) div:nth-child(2) p{
    font-size: 16px;
    font-weight: 500;
    color: var(--drakgray);
    margin: 0;
}

.area-content button:nth-child(2) div:nth-child(2) i{
    font-size: 16px;
    color: var(--drakgray);
    margin: 0 5px 0 5px ;
}



.location-selectteam{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    margin: 0px 0 20px 0;
}
.location-selectteam p{
    font-size: 14px;
    font-weight: 500;
    color: var(--icncolor);
    margin: 0 0 0 5px;
}
.location-selectteam i{
    font-size: 14px;
    color: var(--icncolor);
    margin: 0 0 0 5px;
}

.team-select-image{
    width: 90%;
    height: 70%;
    margin-top: 2px;
    border-radius: 50%;
    border: 1px solid var(--icncolor);
}

/* team profile popup start */
.popup-teamselect{
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 111;
    transform: scale(.1); 
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s; 
    
}
.open-popup-teamselect{
    visibility: visible;
    transform: scale(1); 
}


.popup-team-content{
    position: relative;
    width: 320px;
    background-color: var(--white);
}

.popup-team-content h2{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--logoorange);
    margin-left: 15px;
}
.players-list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    border-top: 1.5px solid var(--offwhite);
}
.players-list div{
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    border-top: 1.5px solid var(--offwhite);
}

img.players-list-image {
    width: 70%;
    height: 35px;
    border: 1.5px solid var(--icncolor);
    border-radius: 100%;
}
.players-list div p{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--drakgray);
}

.profile-view-btn{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--ltgreen);
    border: none;
}


/* team profile popup end */
/* Select team for opponent end */


@media only screen and (min-width: 900px){
    header{
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0px 10px 0px rgba(0,0,0,0.4);
    }

    main{
        width: 900px;
        height: 85vh;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0px 10px 0px rgba(0,0,0,0.4);

        
    }
    form{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .updatediv {
        width: 82%;
        margin-left: auto;
        margin-right: auto;
    }
    #blank{
        background-color: #e3e3e3;
        width: 70%;
        height: 100%;
        border-radius: 50px;
        border: 1px solid var(--fntwight);
    }
    .select-team-option{
        transform: scaleY(1.1);
    }
    .darkbtn{
        margin: 6px 0;
    }
    .vs{
        font-size: 24px;
    }
    .battle-team-div div h2{
        font-size: 20px;
    }
    .battle-team-div div div i, .battle-team-div div div p{
        font-size: 18px;
    }
    .battle-team-div div:nth-child(1) div:nth-child(2), .battle-team-div div:nth-child(3) div:nth-child(2){
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 
    .select{
        margin: auto 0;
    }
    .area-header{
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0px 10px 0px rgba(0,0,0,0.4);
    }
    section.area-select-main{
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0px 10px 0px rgba(0,0,0,0.4);
    }
    .area-content{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        
    }
    .area-background-color{
        margin-top: 20px;
    }
    .area-background-color>div:nth-child(odd){
        box-shadow: none;
    }
}




