.homepage-content{
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    background-color: var(--white);
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.top_three_players_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.top_three_players_div{
    width: 95%;
    height: 50vh;
    min-height: 450px;
    max-height: 600px;
    max-width: 450px;
    margin: 10px auto;
    box-shadow: 0 0px 10px 0px rgba(0,0,0,0.09);
}
.players_back_image{
    width: 100%;
    height: 92%;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.players_back_image_1{
    width: 100%;
    height: 92%;
    position: relative;
    background-image: url("../../assets/images/Player profile image/playerno4.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.top_three_players_div .profilebtn{
    height: 8%;
    background-color: var(--logoorange);
}


.players_mvp_detials{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 37%;
    background-image: linear-gradient(180deg, transparent,#202c38ab );
    margin-bottom: 0;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.award{
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    background-color: #202c380e;

}
.award i{
    font-size: 35px;
    margin: 10px 27% 5px 27%;
    color: rgb(198, 179, 55);
}
.award p{
    font-size: 18px;
    margin: 0;
    text-align: center;
    color: rgb(198, 179, 55);
}
.players_mvp_detials .rating{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.players_mvp_detials .rating p{
    margin: 0 5px;
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
}

.players_mvp_detials .rating i{
    margin: 0;
    font-size: 16px;
    color: rgb(198, 179, 55);
}


.players_mvp_detials .user_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--white);
    padding: 2px 5px;
    background-color: #202c38ad;
    margin: 0 auto;

}
.players_mvp_detials .mvp_number{
    font-size: 50px;
    font-weight: 700;
    color: var(--logoorange);
    margin: 0 auto;
}
.players_mvp_detials .mvp_name{
    font-size: 20px;
    color: var(--logoorange);
    margin: 0 auto;
}

